@model JobPortalReal.Models.LoginViewModel

<div class="card mt-5" style="max-width: 30rem; margin: auto; min-height: 400px;">
    <div class="card-header bg-dark text-white">
        <h2>Login</h2>
    </div>
    <div class="card-body d-flex flex-column justify-content-center">
        <form asp-action="Login" method="post">
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-dark">Login</button>
        </form>
    </div>
</div>
